@model COMPX223_d3_1285310_overkill.Models.Manager
@{
    ViewData["Title"] = "Trap Database";
}

<div class="text-center">
    <h1 class="display-4">Logged In!</h1>
    <hr />

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>
